*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  background: #021531;
}


.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.braydev-logo-contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.braydev-logo{
  height: 400px;
}

.contenedor-principal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}